<script>
window.mobilecheck = function() {
  return /Android|webOS|iPhone|iPad|iPod|BlackBerry|CriOS/.test(navigator.userAgent);
}
window.onresize = function() {
  var thing = function() {
    if (timerID || animating) { 
      setTimeout(thing, 100);
    } else {
      correctImageSize();
    }
  }
  thing();
}
window.onscroll = function() {
  handleScroll();
}

var leftMargin = 0;
var oldHeight = window.innerHeight;
var oldWidth = 0;

function correctImageSize() {
  if (Math.abs(oldHeight - window.innerHeight) < 100) {
    if (oldWidth == window.innerWidth && window.mobilecheck())
      return;
  }

  var images = document.getElementsByClassName('image');
  var maindim = document.getElementById('maincontainer').getBoundingClientRect();
  var aspectratio = window.innerWidth / window.innerHeight;

  for (var i = 0; i < images.length; ++i) {
    images[i].style.height = window.innerHeight + 'px';
    if (aspectratio < 4/3) {
      images[i].style.backgroundSize = 'auto ' + (window.innerHeight) + 'px';
    } else {
      images[i].style.backgroundSize = window.innerWidth + 'px';
    }
  }

  leftMargin = maindim.left;
  oldHeight = window.innerHeight;
  oldWidth = window.innerWidth;
  handleScroll();
}
correctImageSize();

var animating = false;
var isMouseDown = false;
var timerID = null;
var quickfinish = false;
var gtime = 0;

window.ontouchstart = function() { isMouseDown = true; }
window.ontouchend = function() {  isMouseDown = false; handleScroll() }
window.onmousedown = function(e){isMouseDown=true}
window.onmouseup = function(e){isMouseDown=false; handleScroll()}

// handleScroll -animtime-> snapToCards -itercards-> scrollToi -recurdata-> animateScroll -> animateScroll |
function handleScroll(e){
  if (animating || window.innerWidth < 600){
    return;
  }
  clearTimeout(timerID);
  timerID = setTimeout(function(){
    if (!isMouseDown) {
      snapToCards();
    }
    timerID = null;
  }, 50);
}
function snapToCards() {
  var images = document.getElementsByClassName('image');

  for (var i = 0; i < images.length; ++i) {
    var loc = images[i].getBoundingClientRect().top;
    if (loc > 0 && loc < window.innerHeight && i > 0) {
      animating = true;
      if (loc > window.innerHeight/2) {
        if (i > 0)
          scrollToi(i-1);
        else
          animating = false;
      } else {
        scrollToi(i);
      }
      return;
    }
  }
}
function scrollToi(i){
  var images = document.getElementsByClassName('image');
  var dim = images[i].getBoundingClientRect();
  var sInit = window.pageYOffset;
  var sFinal = sInit + dim.top;
  if (sInit != sFinal) {
    animateScroll(sInit,sFinal);
  } else {
    animating = false;
  }
}
function animateScroll(sInit, sFinal) {
  var delaytime = 300;
  window.requestAnimationFrame(function(time){
    animating = true;
    if (gtime == 0) { //first time
      gtime = time;
    } else {
      var p = [[0,sInit],[0,sFinal],[1,sFinal]];
      var t = (time - gtime)/delaytime;
      var y = sFinal;
      if (t < 1)
        y = (1-t)*(1-t)*sInit+2*(1-t)*t*sFinal+t*t*sFinal;
      scrollTo(0,y);
    }
    if (time - gtime < delaytime) {
      animateScroll(sInit, sFinal);
    } else {
      animating = false;
      gtime = 0;
    }
  });
}
</script>
