{% extends "base.html" %}
{% block head %}
<title>Scoring</title>
<style>
.backboard{
  background:#eee;
  width:100%;
  min-height:300px;
}
.scoreboard{
  width:300px;
  margin: 0 auto;
}
.score{
  display:inline-block;
  background:#fff;
  width:50%;
  line-height:50px;
  font-size:35px;
  min-height:50px;
}
</style>
{% endblock %}

{% block mainbody %}
<header><span class="heading">Scoring</span></header>
<h1 class="subtitle">Socket IO live scoring</h1>

<section class="backboard">
<div class="scoreboard">
  <p id="left" class="score"></p><p id="right" class="score"></p>
</div>
<p id="connectionstatus"></p>
</section>

<footer>Brought to you by Ben</footer>
{% endblock %}

{% block scripts %}
<script src='/socket.io/socket.io.js'></script>
<script>
var socket = io.connect('',{'connect timeout':500});
socket.on('getscore', function (leftscore,rightscore){
  left.innerHTML = leftscore;
  right.innerHTML = rightscore;
});
socket.on('connect', function (){
  socket.emit("scoring");
  connectionstatus.innerHTML = "Connected!";
});
socket.on('disconnect', function (){
  connectionstatus.innerHTML = "I've lost my server!";
});
</script>
{% endblock %}

