<nav id="leftmenu" class="leftmenu">
<div id="hamburger">
  <div></div>
  <div></div>
  <div></div>
</div>
<ul class="menulist">
  <li><a class="header" href="/">Home</a>
  {# <li><a {% if scoringPage %}class="menuselect" {% endif %}href="/scoring">Scoring tests</a>
  <li><a {% if scoringInputPage %}class="menuselect" {% endif %}href="/scoringinput">Scoring Input</a> #}
  <li><a {% if engineeringPage %}class="menuselect" {% endif %}href="/engineering">Engineering</a>
  <li><a {% if photoPage %}class="menuselect" {% endif %}href="/photosphere">Photo Spheres</a>
</ul>
<div id="closer" onclick="closemenu()">&lt;&lt;</div>
<div class="overhang"></div>
</nav>
